@import "./background.scss";

@mixin bg_color($color){
  background-color:$color;
  [data-theme="FEB84A"] & {
    background-color:$background-color-theme1;
  }
  [data-theme="text01"] & {
    background-color:$background-color-theme2;
  }
}
